@import url("__title/form__title.css");
@import url("__field/form__field.css");
@import url("__field/_title/form__field_title.css");
@import url("__field/_detail/form__field_detail.css");
@import url("__field/_error/form__field_error.css");
@import url("__field-error/form__field-error.css");
@import url("__field-error/_active/form__field-error_active.css");
@import url("__save/form__save.css");
@import url("__save/_inactive/form__save_inactive.css");
@import url("__label/form__label.css");
@import url("__label/_title/form__label_title.css");
@import url("__label/_detail/form__label_detail.css");

.form {
  display: flex;
  padding: 34px 36px 36px;
  flex-direction: column;
}

@media (max-width : 425px) {
  .form {
    padding: 30px 20px 30px;
  }
}
