<html>
<head></head>
<body>
<section class="overlay overlay_place">
  <div class="overlay__container overlay__container_place">
    <form action="#" class="form" novalidate>
      <h2 class="form__title">New place</h2>
      <label class="form__label form__label_title" for="place-title-input">
        Title
        <input id="place-title-input" type="text" name="image-title"
               class="form__field form__field_title form__field_error" placeholder="Title" minlength="2" maxlength="40"
               required>
        <span id="place-title-input-error" class="form__field-error"></span>
      </label>
      <label class="form__label form__label_detail" for="place-link-input">
        Image Link
        <input id="place-link-input" type="url" name="image-link"
               class="form__field form__field_detail form__field_error" placeholder="Image Link" required>
        <span id="place-link-input-error" class="form__field-error"></span>
      </label>
      <button type="submit" class="form__save">Create</button>
    </form>
    <a href="rocaIndex.html">back</a>
  </div>
</section>
</body>
</html>
