<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A random guy</title>
  <link rel="stylesheet" href="pages/index.css">
</head>
<body class="page">
<header class="header">
  <img class="header__logo" alt="logo" src="images/logo-white.svg">
</header>
<main class="content">
  <section class="profile">
    <button class="profile__avatar">
      <img class="profile__avatar-image" alt="profile avatar" src="{{ profile.avatar }}">
      <div class="profile__avatar-edit"></div>
    </button>
    <div class="profile__info">
      <h1 class="profile__name">{{ profile.name }}</h1>
      <button class="profile__edit-button"></button>
      <p class="profile__about-me">{{ profile.about }}</p>
    </div>
    <button class="profile__add-button"></button>
  </section>
  <section class="elements">
    <ul class="elements__list">
      {% for entry in cards %}
      <li class="element" data-id="#">
        <a class="element__link" href="{{ entry.link }}" style="background-image: url('{{ entry.link }}')">
          <button class="element__remove"></button>
          <div class="element__title-container">
            <h2 class="element__title">{{ entry.name }}</h2>
            <div class="element__like">
              <button class="element__like-button"></button>
              <span class="element__like-count">1</span>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
<footer class="footer">
  <p class="footer__copyright">© 2021 Holger Kraus</p>
</footer>
</body>
</html>
